<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Url</th>
  </tr>
  <% @sub.posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= post.url %></td>
    </tr>
  <% end %>
</table>
