<h3><%=list.escape("title")%></h1>

<div class="delete_list group">
  <button class="delete">Delete</button>
  <span class="cancel">X</span>
</div>
<div class="cards"></div>

<button id="add_card">Add Card...</button>
