<div class="form-group">
  <div class ="col-md col-md-offset-2">
    <h1 class =>The Bands</h1>
  </div>
</div>

<div class="container">
  <% Band.all.each do |band| %>
    <li><%= link_to band.name, band_url(band.id) %>
    </li>
  <% end %>
</div>
